<header class="site-header">
  <div class="logo">
     <%- include ../svg/logo.ejs %>
  </div>
  <nav class="site-nav">

    <button class="nav-button">Fullscreen</button>

    <button class="nav-button">Preview</button>

    <button class="nav-button">Help</button>

  </nav>
</header>