<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Web Based Projection Mapper</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <%- partial('components/header') %>

  <%- body %>

  <script type="text/javascript" src="/js/script.min.js"></script>
</body>