<section class="dialog" id="fullscreenDialog">
  <button class="close-dialog">&times;</button>
  <article class="dialog-body">
    <h1 class="dialog-header">maparapa works best when used in full screen mode.</h1>
    <div class="dialog-actions">
      <button class="dialog-cta">Go Fullscreen</button>
    </div>
  </article>
</section>